<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0IqfagTU0vH6WC4IoCuypKaQ8MxFVbDU</string>
	<key>GCM_SENDER_ID</key>
	<string>736310554360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPhoenixAcademy</string>
	<key>PROJECT_ID</key>
	<string>flutter-phoenix-academy</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-phoenix-academy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736310554360:ios:042182f8821ce0d1efd50d</string>
</dict>
</plist>